<!-- Display validation errors -->
<%= render 'shared/errors', obj: @user %>

<div class="ui center aligned custom-title medium header">
  Create Account
</div>

<div class="ui middle aligned center aligned grid">
  <div class="ten wide column">
    <%= form_for(@user, :html => {class: "ui large form", role: "form"}) do |f| %>
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <%= f.text_field :username, placeholder: "Username" %>
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <%= f.password_field :password, placeholder: "Password" %>
          </div>
        </div>
        <%= f.button "Login", class: "ui fluid large custom-btn submit button" %>
      </div>
    <% end %>
  </div>
</div>